@import "_variables";

.portfolio {
  margin-top: -10rem;
  // z-index: 2;
  .items {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: 100%;
    .card {
      display: flex;
      box-sizing: border-box;
      width: 95%;
      gap: clamp(0.5rem, 3vw, 1.5rem);
      padding: clamp(0.7rem, 4vw, 2rem);
      width: 100%;
      a {
        display: block;
        color: $secondary-colour;
        font-weight: bold;
        text-decoration: underline;
      }
      p,
      a {
        font-size: clamp(1rem, 2vw, 1.2rem);
        white-space: pre-line;
      }
      .card-section.one {
        flex: 1;
        .title {
          font-size: clamp(1.4rem, 2vw, 2.3rem);
          line-height: 1;
          margin-bottom: 0.5rem;
          text-decoration: underline;
          // animation: card-title-tittilator 3s infinite alternate-reverse;
          .icon {
            fill: $secondary-colour;
            vertical-align: bottom;
          }
          &:hover {
            animation: none;
            color: $primary-colour;
            .icon {
              fill: $primary-colour;
            }
          }
        }
        .description {
          grid-column: 1;
          grid-row: 2;
        }
      }
      .card-section.two {
        flex: 1;
        .image {
          width: 100%;
          grid-column: 2;
          grid-row: 2;
        }
        .links {
          grid-column: 2;
          grid-row: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.icon-span {
  display: inline;
  white-space: nowrap;
}

/* Portfolio Page */
.portfolio-page > a {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.portfolio-page > a > svg {
  fill: white;
  transition: 100ms;
}

.portfolio-page > a:hover > svg {
  fill: rgb(48, 250, 41);
  filter: drop-shadow(0 0 5px white);
}

@media only screen and (max-width: $mobile-width) {
  .portfolio {
    .items {
      .card {
        flex-direction: column;
        .card-section.two {
          display: grid;
          .image {
            grid-row: 2;
          }
          .links {
            grid-row: 1;
            flex-direction: row;
            justify-content: space-between;
          }
        }
        .card-section {
          .description p {
            font-size: 1rem;
          }
          .links a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@keyframes card-title-tittilator {
  0% {
    color: $primary-colour;
  }
  100% {
    color: $secondary-colour;
  }
}
