$primary-colour: rgb(85, 110, 151);
$secondary-colour: rgb(171, 205, 230);
$highlight-colour: rgb(0, 180, 204);
$mobile-width: 650px;

:export {
  primaryColour: $primary-colour;
  secondaryColour: $secondary-colour;
  mobileWidth: $mobile-width;
}
