@import "_variables";

.contact-form {
  box-sizing: border-box;
  border: solid 1px rgba(255, 255, 255, 0.281);
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin: 2rem;
  color: #fff;
  min-width: min(90vw, 600px);
  a {
    color: white;
    text-decoration: underline;
    // margin-bottom: 0.3rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    .contact-details {
      display: flex;
      flex-direction: column;
      font-size: clamp(1.2rem, 4.5vw, 1.5rem);
      // line-height: 1.7;
      gap: 1rem;
    }
    .socials {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: flex-end;
      // margin-bottom: 1rem;
    }
  }
  .contact-header {
    h2 {
      font-size: clamp(2rem, 8vw, 3rem);
      text-align: left;
      color: inherit;
      // color: red;
      line-height: 1;
      margin-bottom: min(2vw, 1rem);
    }
  }

  .field {
    border: none;
    margin-bottom: 10px;
    .contact-input,
    .PhoneInputInput {
      box-sizing: border-box;
      border-radius: 10px;
      border: rgba(0, 0, 0, 0.651) solid 1px;
      background-color: rgba(255, 255, 255, 0.164);
      width: 25rem;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      font-family: inherit;
      transition: all ease 0.3s;
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }
}

.contact-input::selection {
  background: rgba(255, 255, 255, 0.226);
}

.contact-form > .contact-input.button {
  &:hover:enabled {
    background-color: rgb(72, 152, 218);
  }
  &:disabled {
    background-color: rgb(83, 83, 83);
    cursor: default;
  }
}

.contact-form > .field > .contact-input.area {
  resize: none;
  height: 10rem;
}

.contact-form > .field > .contact-input,
.PhoneInputInput {
  &:hover {
    border: rgba(130, 226, 255, 0.658) solid 1px;
    box-shadow: 0 0 10px rgba(130, 226, 255, 0.658);
  }
  &:focus {
    outline: none;
    border: rgba(133, 212, 248, 0.589) solid 1px;
    box-shadow: none;
  }
  &:active {
    outline: none;
    border: rgba(133, 212, 248, 0.589) solid 1px;
    box-shadow: none;
  }
}

.PhoneInputCountryFlag-height {
  width: 100px;
}

p.error {
  color: rgb(240, 121, 11);
  font-size: 1.2rem;
}

textarea {
  resize: none;
}

.message {
  &.scene {
    perspective: 1500px;
    .three-d-card {
      box-sizing: border-box;
      position: relative;
      margin: 0;
      backface-visibility: visible;
      transform-style: preserve-3d;
      width: 600px;
      max-width: 95vw;
      height: 400px;
      max-height: 95vh;
      // height: fit-content;
      transition: transform 0.7s;
      // transform: rotateY(180deg);
      &.success {
        transform: rotateY(180deg);
      }
      .face {
        box-sizing: border-box;
        border-radius: 1.5rem;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        padding: 1rem;
        &.confirm {
          position: relative;
          background: linear-gradient(
            155deg,
            rgb(91, 164, 167) 0%,
            $primary-colour 100%
          );
          color: $secondary-colour;
          display: grid;
          grid-template-rows: 3.5rem 2rem 2rem 2rem 1fr;
          grid-template-columns: min-content 2fr;
          gap: 0.7rem 1.3rem;
          h2 {
            font-size: 3rem;
            color: $secondary-colour;
            grid-column: 1 / 3;
            transition: color 0.4s;
            line-height: 1;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.534);
          }
          .label {
            grid-column: 1;
            &::after {
              content: ":";
            }
            width: fit-content;
            font-size: larger;
            margin-top: 0.5rem;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.849);
          }
          .data {
            grid-column: 2;
            background-color: rgba(0, 0, 0, 0.678);
            padding: 0.3rem 0.7rem;
            border-radius: 0.5rem;
            font-size: larger;
            white-space: pre-wrap;
            height: fit-content;
            overflow-y: auto;
            max-height: 6.4rem;
          }
          .button {
            grid-column: 2;
            width: 12rem;
            justify-self: right;
            background-color: rgb(55, 199, 120);
          }
        }
        &.success {
          top: 0;
          transform: rotateY(180deg);
          background: linear-gradient(
            155deg,
            rgb(105, 211, 114) 0%,
            rgb(31, 129, 39) 100%
          );
          h2 {
            color: rgb(244, 252, 130);
          }
          p {
            font-size: 1.6rem;
            color: #fff;
            width: 80%;
            margin-left: 3rem;
            line-height: 1.2;
          }
          p:first-of-type {
            color: rgb(244, 252, 130);
            text-align: left;
            font-size: 1.4rem;
            margin: 0;
          }

          button.success {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            background-color: rgb(101, 22, 190);
            width: 12rem;
          }
        }
      }
    }
  }
  // .confirm {
  //   z-index: inherit;
  //   display: grid;
  //   color: $secondary-colour;
  //   justify-content: center;
  //   align-self: center;
  //   // background-color: rgb(48, 54, 77);
  //   background: $primary-colour;
  //   background: linear-gradient(155deg, rgb(91, 164, 167) 0%, $primary-colour 100%);
  //   padding: 2rem;
  //   border-radius: 1rem;
  //   grid-template-columns: min-content 2fr;
  //   gap: 0.7rem 1.3rem;
  //   min-width: 50vw;

  //   h2 {
  //     color: $secondary-colour;
  //     grid-column: 1 / 3;
  //     transition: color 0.4s;
  //   }
  //   .label {
  //     grid-column: 1;
  //     &::after {
  //       content: ":";
  //     }
  //     width: fit-content;
  //     font-size: larger;
  //     margin-top: 0.5rem;
  //     // align-self: center;
  //     // margin-right: 1rem;
  //   }
  //   .data {
  //     grid-column: 2;
  //     background-color: rgba(0, 0, 0, 0.678);
  //     padding: 0.5rem;
  //     border-radius: 0.5rem;
  //     font-size: larger;
  //     white-space: pre;
  //     max-height: 150px;
  //     overflow-y: auto;
  //   }
  //   button {
  //     grid-column: 2;
  //     font-size: x-large;
  //     font-weight: bold;
  //     border: none;
  //     border-radius: 0.5rem;
  //     padding: 0.5rem;
  //     cursor: pointer;
  //   }
  //   button.send {
  //     color: rgb(20, 82, 15);
  //     background-color: rgb(78, 165, 28);
  //   }
  //   button.close {
  //     color: rgb(117, 200, 214);
  //     background-color: rgb(28, 99, 165);
  //   }
  //   &.success {
  //     color: rgb(217, 243, 202);
  //     h2 {
  //       color: rgb(134, 214, 118);
  //     }
  //   }
  // }
}

.message-confirm {
}

@media only screen and (max-width: $mobile-width) {
  .contact-form {
    .info {
      flex-direction: column;
      margin-bottom: 0.5rem;
      .contact-details {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .socials {
        img {
          max-width: 40px;
        }
      }
    }
    .field {
      .contact-input {
        font-size: 1rem;
      }
    }
  }
  .message.scene {
    .three-d-card {
      height: 500px;
      .face.confirm {
        grid-template-rows: 3rem repeat(7, 1.2rem);
        grid-template-columns: 100%;
        // gap: 0.2rem;
        h2 {
          font-size: clamp(1.2rem, 8vw, 2.5rem);
        }
        .data {
          box-sizing: border-box;
          grid-column: 1;
          margin: 0;
          width: 100%;
          max-height: 7.2rem;
        }
        .button {
          grid-column: 1;
        }
      }
    }
  }
}
