@import "_variables";
.link-hover {
  transition: 200ms;
}
.link-hover:hover {
  transform: translateY(-2px);
  margin-bottom: 0 !important;
  border-bottom: solid 2px white !important;
  a {
    color: $green;
  }
}
