.header {
  display: flex;
  flex-direction: column;
  position: relative;
  /* margin-top: 4rem; */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.438);
  padding: 2rem 0 0;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
}

.nav-header {
  text-decoration: none;
  /* font-size: 4rem; */
  color: #fff;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: fit-content;
  align-self: center;
}

.nav-header > h1 {
  margin: 0;
  padding: 0;
  font-size: 5rem;
}

.sub-header {
  font-size: 1.5rem;
  margin: 0;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.76);
  width: fit-content;
  text-align: center;
  align-self: center;
  padding: 0 30px;
  border-radius: 10px;

  /* display: inline-block; */
}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: all ease 0.3s;
  margin-top: 1em;
  /* font-size: 2rem; */
}

.nav-item:hover {
  color: rgb(255, 237, 198);
}

.contact-info {
  font-size: 2em;
}

.contact-item {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  color: rgb(255, 244, 233);
  transition: ease all 0.3s;
}

.contact-item.phone {
  left: 1em;
}

.contact-item.email {
  right: 1em;
}

.contact-item:hover {
  /* font-size: 2.1rem; */
  /* transform: scale(1.1); */
}

.footer {
  background-color: rgba(0, 0, 0, 0.603);
  font-size: 5vw;
  padding: 0 0 0.3em;
  display: flex;
  position: fixed;
  height: min-content;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-evenly;
  z-index: 9999;
}

@media (max-width: 899px) {
  .header {
    margin-top: 0;
    /* background-color: rgb(194, 61, 0); */
  }
  .nav-header > h1 {
    font-size: 3rem;
  }
  .sub-header {
    padding: 0 0.5em;
  }
  .contact-info {
    position: relative;
    display: flex;
    left: auto;
    right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em;
  }
  .contact-item {
    position: relative;
  }

  .contact-item.phone,
  .contact-item.email {
    left: auto;
    right: auto;
  }
}
