@import "_variables";

nav.main {
  z-index: 11;
  a {
    z-index: inherit;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all 200ms;
  }
}

@media screen and (max-width: calc($sm - 0.2px)) {
  nav.main {
    position: fixed;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    background-color: $purple;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
    opacity: 0;
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    }
    li {
      padding: 0.7rem 0;
      width: 100%;
      text-align: center;
      transition: all 200ms;
    }
    li:active {
      background-color: var($green);
    }
    li:not(:last-of-type) {
      border-right: ridge 2px rgba(255, 255, 255, 0.122);
    }
    a {
      font-size: clamp(0.6rem, 4vw, 1.1rem);
    }
    &.display {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $sm) {
  nav.main {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    ul {
      display: flex;
      justify-content: right;
      gap: 1.5rem;
    }
    a {
      text-shadow: 1px 1px 7px black;
    }
    li:active a {
      opacity: 0.8;
    }
  }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
