.portfolio {
  margin-top: 10rem;
}

.portfolio-items {
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
}

.portfolio__card {
  box-sizing: border-box;
  border: 1px rgb(207, 207, 207) solid;
  width: 100%;
  justify-self: center;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 20rem;
  gap: 2rem;
}

.portfolio__card .content {
  flex-basis: 0;
  flex-grow: 1;
}

.portfolio__card .content h3 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.portfolio__card .content a {
  display: block;
  color: rgb(0, 71, 224);
  font-weight: bold;
  margin-left: 1rem;
}

.portfolio__card .image {
  flex-grow: 1;
  background-size: contain;
  background-position: center;
}

.text p {
  white-space: pre-line;
}

/* Portfolio Page */
.portfolio-page > a {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* background-color: tomato; */
}

.portfolio-page > a > svg {
  fill: white;
  transition: 100ms;
}

.portfolio-page > a:hover > svg {
  fill: rgb(48, 250, 41);
  filter: drop-shadow(0 0 5px white);
}
