@import "_variables";

#project-view {
  margin-top: 4rem;
  display: flex;
  position: relative;
  gap: 2rem;
  .sidebar {
    position: fixed;
    height: 80vh;
    margin-left: 1rem;
    width: 250px;
    h2 {
      font-size: 1.5rem;
      color: $green;
    }
  }
  nav {
    height: 50%;
    button {
      width: 100%;
      text-align: left;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }
  }
  main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 700px;
    h1 {
      color: white;
      font-size: 4rem;
    }
    h2 {
      margin-top: 1rem;
      font-size: 2rem;
      color: $purple;
    }
    p {
      margin-top: 0.75rem;
      line-height: 1.4;
    }
    img {
      max-width: 100%;
      // border: solid 5px rgb(255, 255, 255);
    }
  }
  #details {
    height: 50%;
  }
}

.project {
  background-color: $purple;
  color: white;
  figcaption {
    color: white;
  }
  &:hover {
    opacity: 0.85;
    figcaption {
      letter-spacing: 1px;
    }
  }
}

.projects-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.project:first-of-type {
  grid-column: 1 / -1;
}

@media screen and (max-width: calc($md - 0.2px)) {
  #project-view {
    flex-direction: column;
    main {
      order: 2;
    }
    #details {
      top: 0;
      order: 1;
    }
  }
}
@media screen and (min-width: $md) {
  #project-view {
    nav {
      flex: 0 0 20%;
    }
    main {
      flex: 1 1 0;
    }
    #details {
      flex: 0 0 20%;
    }
  }
}
