@import "_variables";

#project-view {
  margin-top: 4rem;
  display: flex;
  position: relative;
  gap: 2rem;

  nav.project-nav {
    user-select: none;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    top: 0;
    color: white;
    h2:hover,
    button:hover {
      text-decoration: underline;
    }
    button.selected {
      color: $purple;
    }

    .display-menu {
      pointer-events: none;
      margin: 0 auto;
      width: 100%;
      background-color: rgb(34, 34, 36);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.506),
        inset -5px -5px 20px 5px rgba(209, 231, 255, 0.105);
      transform-origin: top;
      transform: scaleY(0);
      &.active {
        pointer-events: all;
        height: 100%;
        opacity: 1;
        border-radius: 10px;
        transform: scaleY(1);
        transition: 200ms;
        h2 {
          margin: 0;
          padding: 1rem;
        }
      }
    }
    button {
      width: 100%;
      text-align: left;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: white;
      font-size: inherit;
      cursor: pointer;
    }
  }
  // The hamburger menu icon
  .nav-menu {
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    .icon {
      fill: white;
      transition: 200ms;
    }
    &:hover {
      .icon {
        fill: $green;
      }
    }
  }

  main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    max-width: 700px;
    padding: 0 1.5rem;
    h1 {
      color: white;
      font-size: clamp(1.5rem, 8vw, 4rem);
      margin-bottom: 1rem;
    }
    h2 {
      margin-top: 1rem;
      font-size: 2rem;
      color: $purple;
    }
    p {
      margin-top: 0.75rem;
      line-height: 1.4;
    }
    img {
      max-width: 100%;
    }
  }
  #details {
    color: white;
    p {
      margin: 0;
    }
    a {
      color: inherit;
      display: inline-block;
      transition: color 100ms;
      text-decoration: underline;
      &:hover {
        color: $purple;
      }
    }
    .project-details {
      margin-left: 1rem;
      display: grid;
      grid-template-columns: min-content minmax(0, 1fr);
      gap: 0.4rem 1rem;
      .label {
        font-weight: thin;
        color: $green;
      }
    }
    img {
      margin: 2rem auto;
      width: 100%;
    }
  }
}

.project {
  background-color: $purple;
  color: white;
  figcaption {
    color: white;
  }
  &:hover {
    opacity: 0.85;
    figcaption {
      letter-spacing: 1px;
    }
  }
}

.projects-grid {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.project:first-of-type {
  grid-column: 1 / -1;
}

@media screen and (max-width: calc($md - 0.2px)) {
  #project-view {
    flex-direction: column;
    main {
      order: 2;
    }
    #details {
      top: 0;
      order: 1;
    }
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: $md) {
  #project-view {
    flex-direction: column;
    nav {
      flex: 0 0 20%;
    }
    main {
      flex: 1 1 0;
    }
    #details {
      flex: 0 0 20%;
    }
  }
}

@media screen and (min-width: $xl) {
  #project-view {
    flex-direction: row;
    nav.project-nav {
      position: fixed;
      left: 1rem;
      top: 4rem;
      display: flex;
      width: 250px;
      h2 {
        margin-top: 0;
      }
      .nav-menu {
        display: none;
      }
      .display-menu {
        background-color: transparent;
        box-shadow: none;
        width: fit-content;
        pointer-events: all;
        transform: none;
        transition: none;
        button {
          width: fit-content;
        }
      }
    }
  }
}
