.satisfactory {
  background-color: rgb(37, 37, 37);
  background: linear-gradient(
    155deg,
    rgba(72, 72, 73, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  font-family: "Lato", sans-serif;
}

.satisfactory h1 {
  padding-top: 3rem;
  padding-left: 5rem;
  padding-bottom: 2rem;
  font: inherit;
  font-size: 5rem;
  font-weight: 700;
  color: white;
}

.satisfactory p {
  color: white;
  font-size: 1.5rem;
  margin-left: 5rem;
  max-width: 500px;
  margin-bottom: 1rem;
}
