@import "_variables";
$max-width: 800px;

.satisfactory {
  background-color: rgb(37, 37, 37);
  background: linear-gradient(
    155deg,
    rgba(72, 72, 73, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    flex-direction: column;
    width: 85vw;
    max-width: $max-width;
    justify-content: center;
    h1 {
      display: block;
      padding-top: 5rem;
      font: inherit;
      font-size: clamp(2rem, 6vw, 6rem);
      font-weight: 700;
      color: white;
      line-height: 1;
    }

    h2 {
      margin-top: 0;
      align-self: flex-end;
      color: $secondary-colour;
      padding-bottom: 3rem;
      font-size: clamp(1rem, 4vw, 3.5rem);
    }

    p {
      color: white;
      font-size: clamp(1rem, 3vw, 1.6rem);
      // margin-left: 5rem;
      max-width: 800px;
      margin-bottom: 2rem;
    }
    img {
      display: block;
      border: white 1px solid;
      max-width: 100%;
      align-self: center;
      margin-bottom: 2rem;
    }
  }
}
