@import "_variables";

#skills {
  h1 {
    color: white;
  }
  h2 {
    color: $green;
  }
  h3 {
    color: $purple;
  }
  p {
    white-space: pre-line;
  }
  .ratings {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  article {
    margin-bottom: 2rem;
  }
  span.stars {
    display: inline-block;
    right: 0;
    margin-left: auto;
    font-size: 1.3rem;
    color: rgb(176, 176, 176);
  }
}

@media screen and (max-width: $sm) {
  #skills {
    .ratings {
      display: block;
    }
    span.stars {
      display: block;
      text-align: right;
    }
  }
}
